<h1>Ember-Drupal Waterwheel App</h1>

<ul class="menu">
    <li>
        {{#link-to 'index'}}
            Home
        {{/link-to}}
    </li>
    <li>
        {{#link-to 'articles'}}
            Articles
        {{/link-to}}
    </li>
    <li>
        {{#link-to 'users'}}
            Users
        {{/link-to}}
    </li>
    <li>
        {{#link-to 'tags'}}
            Tags
        {{/link-to}}
    </li>
    {{#if session.isAuthenticated}}
        <li>
            <span>Logged in as {{session.data.authenticated.username}}</span>
        </li>
        <li>
            <a {{action 'invalidateSession'}} href="#">Logout</a>
        </li>
    {{else}}
        <li>
            {{#link-to 'login'}}Login{{/link-to}}
        </li>
    {{/if}}
</ul>

{{yield}}
