@import "settings";
@import 'foundation';
@include foundation-everything;

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

$ember-power-select-default-border-radius: 0;
$ember-power-select-multiple-option-border-radius: 4px;

@import "ember-power-select";

body {
  margin: $global-margin * 2;
}

input, label {
  margin: 0 $global-margin 0;
}

.ember-power-select-trigger {
  margin-bottom: $global-margin;
}

label {
  font-style: italic;
}

.menu {
  background-color: $light-gray;
  margin-bottom: $global-margin * 2;

  > li > span {
    display: block;
    padding: 0.7rem 1rem;
    line-height: 1;
  }
}
