@import "settings";
@import 'foundation';
@include foundation-everything;

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

body {
  margin: $global-margin * 2;
}

input, label {
  margin: 0 $global-margin 0;
}

label {
  font-style: italic;
}
