@import "ember-bootstrap/bootstrap";


$ember-power-select-default-border-radius: 4px;
$ember-power-select-multiple-option-border-radius: 4px;

@import "ember-power-select";


$global-margin: 1em;

body {
  margin: ($global-margin * 2);
  padding-top: 50px;  // Move down content because we have a fixed navbar that is 50px tall
}

.navbar-brand {
  padding: 15px 30px 15px 15px;
}

.alert {
  margin: $global-margin 0;
}

/*input, label {
  margin: 0 $global-margin 0;
}

.ember-power-select-trigger {
  margin-bottom: $global-margin;
}

label {
  font-style: italic;
}

.menu {
//  background-color: $light-gray;
  margin-bottom: $global-margin * 2;

  > li > span {
    display: block;
    padding: 0.7rem 1rem;
    line-height: 1;
  }
}*/

.unpublished {
  background-color: #fed;
}

.create-form {
  margin: 0 ($global-margin * 2) ($global-margin * 2);
}

.article {
  .thumbnail {
    max-height: 100px;
    float: left;
    margin-right: 1em;
  }

  ul.attributes {
    list-style-type: none;
  }
}
