<h1>Ember-CRUD PoC</h1>

<ul class="menu">
    <li class="menu-item">
        {{#link-to 'index'}}
            Home
        {{/link-to}}
    </li>
    <li class="menu-item">
        {{#link-to 'articles'}}
            Articles
        {{/link-to}}
    </li>
    <li class="menu-item">
        {{#if session.isAuthenticated}}
            <a {{action 'invalidateSession'}}>Logout</a>
        {{else}}
            {{#link-to 'login'}}Login{{/link-to}}
        {{/if}}
    </li>
</ul>

{{outlet}}
