<article class="case">


<h3>{{model.title}}</h3>

{{#if model.field_image}}
	<div class="image">
		<img class="thumbnail" src="{{model.field_image.absoluteUrl}}">
	</div>
{{/if}}
<div class="content">

{{#each model.field_paragraphs as |paragraph|}}
	<div>
		{{component paragraph.p_type data=paragraph }}
	</div>
{{/each}}

{{outlet}}
</div>

</article>
