{{outlet}}

<h2>All Users</h2>

{{#each model as |user|}}
    <h3>{{#link-to "user" user}}{{user.name}}{{/link-to}}</h3>
    <ul>
        <li>UUID: {{user.id}}</li>
        <li>E-mail: {{user.mail}}</li>
    </ul>
{{/each}}
